In [1]:
import pandas as pd

In [12]:
sample_data = pd.read_excel (r'GikonkoSector.xlsx')

In [13]:
print(sample_data)

   Unnamed: 0 GISAGARA DISTRICT / GIKONKO SECTOR     Unnamed: 2   Unnamed: 3  \
0         NaN                                NaN            NaN          NaN
1          NO                              ITEMS  SERIAL NUMBER     JOB DONE
2           1                    Laptop hp 9470M     CNU431B1W3  MAINTENANCE
3           2                    Laptop hp 9470M     CNU431B4D3  MAINTENANCE
4           3                    Laptop hp 9470M     CNU431B3D2  MAINTENANCE
5           4                      Laptop hp min     2MC938CV9H  MAINTENANCE
6           5         Desktop Lenovo ThinkCentre        PBDDPD9  MAINTENANCE
7           6               Laptop Positivo BGH      375AAA6212  MAINTENANCE
8           7                          Laptop hp     CNU431B2D3  MAINTENANCE
9           8               Laptop Positivo BGH      019AAK2527  MAINTENANCE
10          9       Laptop Positivo BGH A 1000-R     019AAK0006  MAINTENANCE
11         10       Laptop Positivo BGH Acle 2-R     375AAA0058  MAINTENANCE
12         11                    Desktop Lenovo         PBCZFA3  MAINTENANCE
13         12                Laptop Positivo BGH     375AAA6183  MAINTENANCE
14         13    Printer hp Laserjet pro MFP125A     CNB6H38CDG          NaN

               Unnamed: 4          Unnamed: 5
0                     NaN                 NaN
1                USERNAME         SPARE NEEDS
2              CYIRI Cell                 NaN
3              MBOGO Cell                 NaN
4           GASAGARA Cell                 NaN
5                Agronome                 NaN
6           Customer Care   Needs V.G.A Cable
7             Veterinaire                 NaN
8            SEDO/Gikonko                 NaN
9            SEDO/Gikonko                 NaN
10          Customer Care                 NaN
11          Customer Care                 NaN
12                  Dasso                 NaN
13                  Dasso                 NaN
14  HITIMANA Jean d'Amour  Needs logical Card

In [14]:
import pandas as pd

In [19]:
data = pd.read_excel ('product list.xlsx')

In [20]:
print(data)

  PRODUCT LIST Unnamed: 1
0     Products      Price
1       Laptop     450000
2     printers     300000
3      scanner     240000
4      Desktop     800000
5       Tablet     200000
6         Ipad     250000
7        Phone     150000
8        Radio      80000

In [21]:
data2 = pd.read_excel('Reporrt Eva.xlsx')

In [22]:
print(data2)

     AMZINA YIBICYENEWE                       AHO BIZAKORESHWA UMUBARE  \
0               Insinga             kwa animtr,mur sare,liblar       4
1                 Cofre                  kwa animater,mur sare       2
2                Fisibl                    kwa anmatr,mur sare       2
3                  Sock           kwa anm, mur sar,liblar,hanz      13
4                 Prise             kwa animatr,mur sar,liblar       7
5          Daubl suitch                      kwa anmatr,liblar       2
6          Sempl suitch                        mur sar,no hanz       3
7   Boute de connection             kwa animtr,mur sare,liblar       6
8   Boute de constromer             kwa animtr,mur sare,liblar      12
9        Isoretion tape           kwa anm, mur sar,liblar,hanz       6
10            Imisumari             kwa animtr,mur sare,liblar     1kg
11              Amatara           kwa anm, mur sar,liblar,hanz   9;3;1
12         Cable suplay               hagat ya sar no kumuriro     45m
13           Transiport                                    NaN     NaN
14             Mendevre  gukor sar,kw anm,liblr,hanz,derection     NaN
15               Totall                                    NaN     NaN

                IGICIRO/1    IGICIRO CYOSE  UBWOKO      TOTAL
0   1,5;25000 / 2,5;32000      50000/64000    0man     114000
1                    5000            10000    viko      10000
2                    4000             8000   hager       8000
3                     300             3900  semple       3900
4                    1500            10500    viko      10500
5                    1500             3000    viko       3000
6                    1500             4500    viko       4500
7                     400             2400  semple       2400
8                     200             2400  semple       2400
9                     500             3000    viko       3000
10                   2100             2100     8cm       2100
11         1500/2500/3500  13500/7500/3500     red      24500
12                   1100            49500     NaN      49500
13                    NaN              NaN     NaN      30000
14                    NaN            80000     NaN      80000
15                    NaN              NaN     NaN  347800rwf

In [3]:
data3 = pd.read_csv('product list.csv')

In [4]:
print(data3)

  PRODUCT LIST Unnamed: 1
0     Products      Price
1       Laptop     450000
2     printers     300000
3      scanner     240000
4      Desktop     800000
5       Tablet     200000
6         Ipad     250000
7        Phone     150000
8        Radio      80000

In [9]:
 df = DataFrame(data3, Products.iloc[1]

SyntaxError: unexpected EOF while parsing (<ipython-input-9-6afbdb2af543>, line 1)

In [30]:
type(data3)

pandas.core.frame.DataFrame

In [36]:
df = pd.DataFrame(data3, columns =['Price'])

In [37]:
print (df)

   Price
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN